<div class="container">

  <h1 class="text-center py-3"><%= @specie.name %></h1>

  <table class="table">

    <thead>
      <tr>
        <th scope="col">Caractéristiques</th>
        <th scope="col">Infos</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">Classification</th>
        <td><%= @specie.classification %></td>
      </tr>
      <tr>
        <th scope="row">Désignation</th>
        <td><%= @specie.designation %></td>
      </tr>
      <tr>
        <th scope="row">Taille moyenne</th>
        <td><%= @specie.average_height %> cm</td>
      </tr>
      <tr>
        <th scope="row">Couleurs de peau</th>
        <td><%= @specie.skin_colors %></td>
      </tr>
      <tr>
        <th scope="row">Couleurs de cheveux</th>
        <td><%= @specie.hair_colors %></td>
      </tr>
      <tr>
        <th scope="row">Couleurs des yeux</th>
        <td><%= @specie.eye_colors %></td>
      </tr>
      <tr>
        <th scope="row">Durée de vie moyenne</th>
        <% if @specie.average_lifespan == 0 %>
          <td>unknown</td>
        <% else %>
          <td><%= @specie.average_lifespan %> ans</td>
        <% end -%>
      </tr>
      <tr>
        <th scope="row">Language</th>
        <td><%= @specie.language %></td>
      </tr>
    </tbody>

  </table>

  <% if !@specie.films.empty? %>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Films
      </button>
      <ul class="dropdown-menu">
        <% @specie.films.each do |film| %>
          <li><%= link_to "#{film.title}", film_path(film), class: "dropdown-item" %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

  <% if !@specie.films.empty? %>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Personnages
      </button>
      <ul class="dropdown-menu">
        <% @specie.characters.each do |character| %>
          <li><%= link_to "#{character.name}", character_path(character), class: "dropdown-item" %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

</div>
