<div class="container">

  <h1 class="text-center py-3"><%= @film.title %></h1>

  <table class="table">

    <thead>
      <tr>
        <th scope="col">Caractéristiques</th>
        <th scope="col">Infos</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">Épisode n°</th>
        <td><%= @film.episode_num %></td>
      </tr>
      <tr>
        <th scope="row">Ouverture</th>
        <td><%= @film.opening_crawl %></td>
      </tr>
      <tr>
        <th scope="row">Réalisateur</th>
        <td><%= @film.director %></td>
      </tr>
      <tr>
        <th scope="row">Producteur</th>
        <td><%= @film.producer %></td>
      </tr>
      <tr>
        <th scope="row">Date de sortie</th>
        <td><%= @film.release_date %></td>
      </tr>
    </tbody>

  </table>

</div>
