<div class="container">

  <h1 class="text-center py-3"><%= @film.title %></h1>

  <table class="table">

    <thead>
      <tr>
        <th scope="col">Caractéristiques</th>
        <th scope="col">Infos</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">Épisode n°</th>
        <td><%= @film.episode_num %></td>
      </tr>
      <tr>
        <th scope="row">Discours d'ouverture</th>
        <td><%= @film.opening_crawl %></td>
      </tr>
      <tr>
        <th scope="row">Réalisateur</th>
        <td><%= @film.director %></td>
      </tr>
      <tr>
        <th scope="row">Producteur</th>
        <td><%= @film.producer %></td>
      </tr>
      <tr>
        <th scope="row">Date de sortie</th>
        <td><%= @film.release_date %></td>
      </tr>
    </tbody>

  </table>

  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Personnages
    </button>
    <ul class="dropdown-menu">
      <% @film.characters.each do |character| %>
        <li><%= link_to "#{character.name}", character_path(character), class: "dropdown-item" %></li>
      <% end -%>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Planètes
    </button>
    <ul class="dropdown-menu">
      <% @film.planets.each do |planet| %>
        <li><%= link_to "#{planet.name}", planet_path(planet), class: "dropdown-item" %></li>
      <% end -%>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Espèces
    </button>
    <ul class="dropdown-menu">
      <% @film.species.each do |specie| %>
        <li><%= link_to "#{specie.name}", specie_path(specie), class: "dropdown-item" %></li>
      <% end -%>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Vaisseaux
    </button>
    <ul class="dropdown-menu">
      <% @film.starships.each do |starship| %>
        <li><%= link_to "#{starship.name}", starship_path(starship), class: "dropdown-item" %></li>
      <% end -%>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Véhicules
    </button>
    <ul class="dropdown-menu">
      <% @film.vehicles.each do |vehicle| %>
        <li><%= link_to "#{vehicle.name}", vehicle_path(vehicle), class: "dropdown-item" %></li>
      <% end -%>
    </ul>
  </div>

</div>
