<div class="container">

  <h1 class="text-center py-3"><%= @vehicle.name %></h1>

  <table class="table">

    <thead>
      <tr>
        <th scope="col">Caractéristiques</th>
        <th scope="col">Infos</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">Modèle</th>
        <td><%= @vehicle.model %></td>
      </tr>
      <tr>
        <th scope="row">Constructeur</th>
        <td><%= @vehicle.manufacturer %></td>
      </tr>
      <tr>
        <th scope="row">Coût</th>
        <% if @vehicle.cost_in_credits == 0 %>
          <td>unknown</td>
        <% else %>
          <td><%= @vehicle.cost_in_credits %> €</td>
        <% end -%>
      </tr>
      <tr>
        <th scope="row">Longueur</th>
        <td><%= @vehicle.length %> m</td>
      </tr>
      <tr>
        <th scope="row">Vitesse maxi</th>
        <td><%= @vehicle.max_atmosphering_speed %> km/h</td>
      </tr>
      <tr>
        <th scope="row">Équipage</th>
        <td><%= @vehicle.crew %></td>
      </tr>
      <tr>
        <th scope="row">Passagers</th>
        <td><%= @vehicle.passengers %></td>
      </tr>
      <tr>
        <th scope="row">Capacité</th>
        <td><%= @vehicle.cargo_capacity %></td>
      </tr>
      <tr>
        <th scope="row">Consumables</th>
        <td><%= @vehicle.consumables %></td>
      </tr>
      <tr>
        <th scope="row">Type de vaisseau</th>
        <td><%= @vehicle.vehicle_class %></td>
      </tr>
    </tbody>

  </table>

  <% if !@vehicle.films.empty? %>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Films
      </button>
      <ul class="dropdown-menu">
        <% @vehicle.films.each do |film| %>
          <li><%= link_to "#{film.title}", film_path(film), class: "dropdown-item" %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

  <% if !@vehicle.characters.empty? %>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Pilotes
      </button>
      <ul class="dropdown-menu">
        <% @vehicle.characters.each do |character| %>
          <li><%= link_to "#{character.name}", character_path(character), class: "dropdown-item" %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>
</div>
