<div class="container">

  <h1 class="text-center py-3"><%= @starship.name %></h1>

  <table class="table">

    <thead>
      <tr>
        <th scope="col">Caractéristiques</th>
        <th scope="col">Infos</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">Modèle</th>
        <td><%= @starship.model %></td>
      </tr>
      <tr>
        <th scope="row">Constructeur</th>
        <td><%= @starship.manufacturer %></td>
      </tr>
      <tr>
        <th scope="row">Coût</th>
        <% if @starship.cost_in_credits == 0 %>
          <td>unknown</td>
        <% else %>
          <td><%= @starship.cost_in_credits %> €</td>
        <% end -%>
      </tr>
      <tr>
        <th scope="row">Longueur</th>
        <td><%= @starship.length %> m</td>
      </tr>
      <tr>
        <th scope="row">Vitesse maxi</th>
        <% if @starship.max_atmosphering_speed == 0 %>
          <td>unknown</td>
        <% else %>
          <td><%= @starship.max_atmosphering_speed %> km/h</td>
        <% end -%>
      </tr>
      <tr>
        <th scope="row">Équipage</th>
        <td><%= @starship.crew %></td>
      </tr>
      <tr>
        <th scope="row">Passagers</th>
        <td><%= @starship.passengers %></td>
      </tr>
      <tr>
        <th scope="row">Capacité</th>
        <td><%= @starship.cargo_capacity %></td>
      </tr>
      <tr>
        <th scope="row">Consumables</th>
        <td><%= @starship.consumables %></td>
      </tr>
      <tr>
        <th scope="row">Hyperdrive rating</th>
        <td><%= @starship.hyperdrive_rating %></td>
      </tr>
      <tr>
        <th scope="row">MGLT</th>
        <% if @starship.MGLT == 0 %>
          <td>unknown</td>
        <% else %>
          <td><%= @starship.MGLT %></td>
        <% end -%>
      </tr>
      <tr>
        <th scope="row">Type de vaisseau</th>
        <td><%= @starship.starship_class %></td>
      </tr>
    </tbody>

  </table>
</div>
